body{
  background-color: #E4FFDA;
}
p{
    font-family: 'Pacifico',  cursive;
    font-size: 30px;
    color:#334b28;
}
.logo{
    float: left;
    height: 100px;
    width: 110px;
    position: relative;
    margin-left: 1cm;
}
.topnav {
    margin: 0;
    padding: 0;
    padding-right: 100px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #B8D6AC;
    padding-top: 15px;
    
  }
.topnav a {
    display: block;
    color: #5C7651;
    text-align: center;
   padding-left: 20px;
   padding-top: 20px;
    padding-right: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    float: left;
    
  }
  .lozung{
    font-family:  'Playfair Display', serif;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin-top: 2cm;
    color: #5C7651;
  }
  .text{
    font-family:  'Playfair Display', serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin-top: 4cm;
    color: #334b28;
  }
  .julto{
      height: 250px;
      width: 250px;
  }
  .lilavo{
      height: 250px;
      width: 250px;
      float:right;
  }
  .spisuk{
    font-size: 20px;
    font-family:'Playfair Display', serif; 
    font-weight: 0;
    line-height: 1cm;
  }
  .cvete_uslugi{
    height: 250px;
      width: 250px;
    float:right;
     margin-top: 2cm;

  }
  #txt{
    text-align: right;
    margin-right: 1cm;
    font-style: italic;
    color: #334b28;
  }
  .small_text{
    font-size: 20px;
    font-family:'Playfair Display', serif; 
    font-weight: bold;
    line-height: 1cm;
    color:black;
  }
  .buketi{
    height:300px;
    width: 300px;
    margin-left: 0.75cm;
    margin-top: 1cm;
  }
  body {
    margin: 0;
}
.zaglavie{
 text-align: left;
 padding-left: 300px;
 position: relative;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a{
      padding-left: 150px;
    }
  } 
  